body, html {
  font-family: 'Krub', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#000000;
  background-color:#FFF;
}
.ifram{
  width: 100%;
  min-height: 800px;
}

/************ CONTAINERS ****************/
.container {
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 3em;
  margin-bottom: 3em;
  padding:3em;
  /*border: 1px solid #E6E6E6;*/
  text-align: left;
  position: relative;
  overflow: hidden;
}

.center-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
